<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <input v-model="name">
      <button v-on:click="doAdd">モンスターを追加</button>
      <ul>
        <li v-for="(item, index) in list"
        v-bind:key="item.id"
        v-bind:class="{ tuyoi: item.hp > 300 }">
          ID.{{ item.id }} {{ item.name }} {{ item.hp }}
          <span v-if="item.hp > 300">つよい</span>
          <span v-else-if="item.hp < 50">ひんし</span>
          <span v-else>ふつう</span>
          <button v-on:click="doAttack(index)">攻撃する</button>
          <button v-on:click="doRemove(index)">モンスターを削除</button>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>